body{
    grid-template-rows: 10vh 90vh 10vh 10vh auto;
}
.form-outer{
    grid-template-rows: 16.5% 68.5% 15%;//85%;
    grid-template-columns: 34%;
}
.grid-outer{
    padding: 0 0 8% 0;
}
.btn1{
    padding: 5% 0 3% 0;
}
.grid-item textarea{
    height:60%;
}
.grid-item textarea:focus{
    border: 0.5px solid white;
}
.grid-item input[type="file"]{
    border:none;
    font-size: 1.8rem;
}

.select{
    width: inherit;
    text-align: center;
}
.select select{
    font-family: serif;
    background:rgba(8, 36, 69, 0.98);
    font-size: 1.8rem;
    padding: 0 1% 0 1%;
    height: 70%;
    width: 20%;
    border: none;
}
@media screen and (max-width: 1050px) {
    .form-outer {
        grid-template-columns: 60%;
    }
}